/*!* For demo *!*/
.ant-carousel .slick-slide {
    height: 160px;
    line-height: 0;
}

.ant-carousel .slick-slide img {
    height: 160px;
}

.shows {
    padding-top: 50px;
}

.two-shows-panel {
    width: 80%;
    margin: auto;
}