.show-filter {
    padding-top: 5px;
    padding-bottom: 5px;
}

.show-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.show-list-panel {
    width: 80%;
    margin: auto;
}

.ant-tabs-ink-bar {
    background-color: #00152a;
}