.app-menu-item {
    font-size: 18px;
}

.app-menu-location-popover {
    font-size: 18px;
    color: #f0f2f5;
}

.area-select.medium {
    width: auto;
}

.ant-dropdown-menu {
    margin-top: 15px;
}
